html, body {
    height: 100%;
}

img {
    width: 100%;
    height: 100%;
}

.hamburger {
    font-size: 2em;
    vertical-align: middle;
}
.text-center {
    text-align: center;
}

#content {
    padding-left: 40px;
    padding: 5px 40px 0px 40px;
}

md-list-item > button {
    width: 100%;
    text-align: left !important;
}

md-list-item > a {
    width: 100%;
    text-align: left !important;
}

.avatar {
    position: relative;
    width: 128px;
    height: 128px;
    border: 1px solid #ddd;
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
    margin: 0px;
    vertical-align: middle;
    zoom: 0.70;
    transform: translateZ(0);
    -webkit-transform: scale(0.70);
    -moz-transform: scale(0.70);
}

.profile-detail-card, .product-detail-image {
    margin: 10px;
    border-radius: 25px;
    padding: 10px;
}

.profile-detail-card md-input-container {
    margin: 0px;
}

.profile-detail-card span {
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 1.3em;
    padding-bottom: 5px;
}

.profile-detail-card p {
    font-size: 1.2em;
    padding: 0px;
    margin: 0px;
    font-style: oblique;
}

.product-card {
    min-height: 100% !important;
    border-radius: 25px;
    margin-bottom: 15px;
    overflow: hidden;
}

.product-card img {
    border-top-left-radius:25px;
}
.product-card .md-button {
    border-radius: 20px;
}

.product-detail-image img {
    overflow: hidden;
    margin-right: 10px;
    margin-bottom: 5px;
}

.product-detail-image img:last-of-type {
    margin-right: 0px;
}

.order-acknowledge-card {
    border-radius: 25px;
    margin-top: 1em;
    margin-left: 0.1em;
    margin-right: 0.1em;
    overflow: hidden;
    padding: 1em;
}

.order-acknowledge-card:last-of-type {
    margin-bottom: 1em;
}

/*.order-acknowledge-card span {
    font-size: 1em;
    padding-bottom: 0.4em;
}*/

.order-acknowledge-card hr {
    margin: 1em;
    /*margin-left: 1.0em;
    margin-right: 1.0em;*/
}

.order-acknowledge-card .order-number {
    font-size: 1.2em;
    padding-bottom: 0.5em;
}

.order-acknowledge-card .order-remarks {
    font-size: 0.9em;
    position: relative;
}

.product-name {
    line-height: 1.3em;
    font-size: 1.5em;
    font-weight: bold;
}

.text-span {
    font-weight: 500;
}

.card-item {
    padding: 0.5em 0px 0.5em 0px;
}

.card-item-title {
    font-size: 0.9em;
    padding: 0px 0px 0.2em 0px;
    color: #808080;
}

/** ngProgress loader css*/
#ngProgress {
    margin: 0;
    padding: 0;
    z-index: 99998;
    background-color: green;
    color: green;
    box-shadow: 0 0 10px 0; /* Inherits the font color */
    height: 2px;
    opacity: 0;

    /* Add CSS3 styles for transition smoothing */
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

/* Styling for the ngProgress-container */
#ngProgress-container {
    position: fixed;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999;
}
/** end ngProgress loader css*/
