<md-toolbar class="md-medium md-hue-2" id="header-toolbar" layout-align="center center">
    <div layout="row"  class="md-toolbar-tools" layout-fill>
        <div data-ng-click="toggleSidenav()" show-xs show-sm hide-gt-sm class="md-icon-button" layout="column" layout-align="center start" style="margin-right:1em;">
              <svg style="width:20px;height:20px" viewBox="0 0 20 20">
                   <path fill="#fff" d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z" />
              </svg>
         </div>
        <div aria-label="Settings"  layout-align="center center">
        <div class="logo-container">
          <a data-ng-href="/">
              <md-icon md-svg-icon="images/wholdus-logo.svg" class="logo"></md-icon>
          </a>
        </div>
        </div>
        <h1 hide-xs show-gt-xs style="margin-left:5px;">
            <a href="/">Wholdus</a>
        </h1>
        <span flex></span>
        <div layout="row" layout-align="center center">
            <md-button data-ng-if="!loggedIn" class="md-raised md-warn distribute" ng-click="showLoginPrompt($event)">
                login
             </md-button>
             <md-button data-ng-if="loggedIn" class="md-raised md-warn distribute" ng-click="logout($event)">
                 logout
             </md-button>
             <span style="font-size:15px" hide-xs show-gt-xs aria-label="customer_support">+91-7895161705</span>
        </div>
    </div>
</md-toolbar>
