<md-dialog aria-label="Login"  ng-cloak>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Login</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    x
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <md-input-container>
                    <label>Email</label>
                    <input type="text" data-ng-model="email" />
                </md-input-container>
                
                <md-input-container>
                    <label>Password</label>
                    <input type="password" data-ng-model="password" />
                </md-input-container>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="login()" style="margin-right:20px;">
                Login
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
