<div layout="column" flex md-whiteframe="4dp" md-padding class="order-acknowledge-card">
    <div layout="row" layout-xs="column" flex>
        <div layout="column" flex="40" flex-xs="100">
            <span class="order-number"><strong>Order No.</strong></span>
            <div layout="row">
                <div layout="column" flex="50">
                    <span class="product-name">Product Name Product Name Product Name Product Name Product Names</span>
                    <span>Catalog No.</span>
                </div>
                <div layout="column" flex="50" class="order-remarks">
                    <span class="order-remarks-content"><strong>Remarks: </strong>Product Name Product Name Product Name Product Name Product Names</span>
                </div>
            </div>
        </div>
        <hr flex/></span>
        <div layout="row" flex="60" flex-xs="100">
            <div layout="column" flex="50">
                <span class="text-span">Pieces per lot: 5</span>
                <span>lots: 2</span>
                <span>Price per piece: Rs. 200</span>
            </div>
            <hr flex/></span>
            <div layout="column" flex="50">
                <span>20/10/2005</span>
                <span>Price per Lot: Rs. 1000</span>
                <div layout="row">
                    <span>Amount</span>
                    <span>2000</span>
                </div>

            </div>
        </div>

    </div>
</div>
<div layout="column" flex md-whiteframe="4dp" md-padding class="order-acknowledge-card" style="background-color:#ccc">
  contetn
</div>
