<div layout="column" data-ng-if="orders.length>0" flex md-whiteframe="4dp" md-padding class="order-acknowledge-card" data-ng-repeat="o in orders">
    <span class="order-number"><strong>Order No.</strong></span>
    <div layout="column" flex>
        <div layout="row" layout-xs="column" flex>
            <div layout="column" flex="50" flex-xs="100">
                <span class="product-name">{{ o.product.name }}</span>
                <div layout="column" class="card-item">
                    <span class="card-item-title" flex>Catalog No</span>
                    <span>{{ o.product.details.seller_catalog_number }}</span>
                </div>
            </div>
            <hr flex/></hr>
            <div layout="row" flex="50" flex-xs="100">
                <div layout="column" flex-xs="100" flex="50">
                    <div layout="column" flex class="card-item">
                        <span class="card-item-title" flex>Order Date</span>
                        <span>{{ o.created_at | date }}</span>
                    </div>
                    <div layout="column" flex class="card-item">
                        <span class="card-item-title" flex>lots</span>
                        <span flex>{{ o.lots }}</span>
                    </div>
                    <div layout="column" class="card-item">
                        <span class="card-item-title">Amount</span>
                        <span>{{ o.final_price }}</span>
                    </div>
                </div>
                <div data-ng-if="settings.activePage==1" layout="column" flex-xs="100" flex="50">
                    <md-button class="md-raised md-primary">
                        label
                    </md-button>
                    <md-button class="md-raised md-primary">
                        manifest
                    </md-button>
                </div>
                <div data-ng-if="settings.activePage==2" layout="column" flex-xs="100" flex="50" layout-align="left">
                    <div layout="column" class="card-item">
                        <span class="card-item-title">Status</span>
                        <span>{{ o.current_status_display_value }}</span>
                    </div>
                    <md-button data-ng-click="track(p.tracking_url)" class="md-raised md-primary">
                        Track
                    </md-button>
                </div>
            </div>
        </div>
        <!-- <hr data-ng-if="!$last"flex/></hr> -->
    </div>
</div>
<div data-ng-if="settings.noOrders" layout="row" layout-align="center center" flex>
    No Orders!
</div>
