
<div layout-xs="column" layout-gt-sm="row" flex>
    <div class="md-padding profile-detail-card" md-whiteframe="4dp" flex>
        <div flex layout-xs="column" layout-gt-xs="column" layout-align="center">
            <span class="md-title">{{ seller.personal_details.label }}</span>
            <md-input-container data-ng-repeat="item in seller.personal_details.formItems">
                <label>{{ item.label }}</label>
                <input type="{{ item.type }}" data-ng-disabled="item.type=='email'" data-ng-model="item.value" data-ng-required="item.required">
            </md-input-container>
        </div>
    </div>
    <div class="md-padding profile-detail-card" md-whiteframe="4dp" flex>
        <div flex layout-xs="column" layout-gt-xs="column" layout-align="center">
            <span class="md-title">{{ seller.pickup_address.label }}</span>
            <md-input-container data-ng-repeat="item in seller.pickup_address.formItems">
                <label>{{ item.label }}</label>
                <input type="{{ item.type }}" data-ng-model="item.value" data-ng-required="item.required">
            </md-input-container>
        </div>
    </div>
</div>


<div layout-xs="column" layout-gt-sm="row" flex>
    <div class="md-padding profile-detail-card" md-whiteframe="4dp" flex>
        <div flex layout-xs="column" layout-gt-xs="column" layout-align="center">
            <span class="md-title">{{ seller.bank_details.label }}</span>
            <md-input-container data-ng-repeat="item in seller.bank_details.formItems">
                <label>{{ item.label }}</label>
                <input type="{{ item.type }}" data-ng-model="item.value" data-ng-required="item.required">
            </md-input-container>
        </div>
    </div>
    <div class="md-padding profile-detail-card" md-whiteframe="4dp" flex>
        <div flex layout-xs="column" layout-gt-xs="column" layout-align="center">
            <span class="md-title">{{ seller.company_details.label }}</span>
            <md-input-container data-ng-repeat="item in seller.company_details.formItems">
                <label>{{ item.label }}</label>
                <input type="{{ item.type }}" data-ng-model="item.value" data-ng-required="item.required">
            </md-input-container>
        </div>
    </div>
</div>

<div layout-xs="column" layout-gt-sm="row" flex>
    <div class="md-padding profile-detail-card" flex>
        <div flex layout-xs="column" layout-gt-xs="column" layout-align="center">
            <md-button class="md-raised md-primary" data-ng-click="updateProfile()">
                <p>save</p>
            </md-button>
        </div>
    </div>
</div>
