<div class="container" layout="row" flex ng-cloak>
    <div layout="row" psa-sidenav></div>
    <md-content class="md-padding" flex>
        <div layout="column" layout-fill>
            <div layout="column" flex md-whiteframe="4dp" class="product-card" md-padding data-ng-repeat="p in products">
                <div layout="row" layout-xs="column" flex>
                    <div layout="column" class="md-media-lg card-media" hide-xs flex="30" style="background-color:lightblue">
                        <img class="card-image" src="images/thumbnail.png" />
                    </div>
                    <div layout="column" flex="40">
                        <span>Catalog No. {{ p.details.seller_catalog_number }}</span>
                        <span>Product Name: {{ p.name }}</span>
                        <span>Category: {{ p.category.category_name }}</span>
                    </div>
                    <div layout="column" flex="30">
                        <span>Retail Price: Rs. {{ p.price_per_unit }}</span>
                        <span>Min Lot Quantity: {{ p.product_lot[0].lot_size_from }}</span>
                        <span>Lot Size: {{ p.lot_size }} peices per lot</span>
                    </div>
                </div>
                <div layout="row" flex>
                    <md-button class="md-raised md-primary">View</md-button>
                    <md-button>Hide</md-button>
                    <md-button class="md-warn">Delete</md-button>
                </div>
            </div>
        </div>
    </md-content>
</div>
