<!--- carousel or image later -->
<div layout="column" flex>
    <md-toolbar layout="row" layout-align="center end" class="md-tall">
        <div flex flex-sm="100" flex-gt-sm="95" flex-gt-md="80" layout="column">
            <h2 class="md-title">Register And Start Distribution</h2>
            <span flex></span>
            <md-tabs md-selected="tabs.selected" md-stretch-tabs="always" class="md-primary md-hue-2">
                <md-tab data-ng-repeat="item in tabs.items">
                    <md-tab-label>{{ item.label }}</md-tab-label>
                </md-tab>
            </md-tabs>
        </div>
    </md-toolbar>

    <md-content class="md-padding">
        <div flex layout="row" layout-align="center center">
            <div flex flex-sm="100" flex-gt-sm="75" flex-gt-md="50" flex-gt-lg="30" class="md-whiteframe-z2">
                <md-content class="md-padding">
                     <div flex layout-sm="column" layout-align="center">
                         <md-content class="md-padding">
                             {{ tabs.items[tabs.selected].label }}
                         </md-content>
                         <md-input-container layout-fill data-ng-repeat="item in tabs.items[tabs.selected].formItems">
                             <label>{{ item.label }}</label>
                             <input type="{{ item.type }}" ng-model="item.value" ng-required="item.required">
                         </md-input-container>
                         <md-content layout="row">
                             <md-button ng-disabled="tabs.selected==0" class="md-raised md-warn" data-ng-click="back()">back</md-button>
                             <md-button class="md-raised md-primary" aria-label="Next" data-ng-click="next()">
                                 <span data-ng-if="tabs.selected == tabs.items.length-1">Start Distribution</span>
                                 <span data-ng-if="tabs.selected != tabs.items.length-1">Next</span>
                             </md-button>
                         </md-content>
                    </dix>
                </md-content>
            </div>
        </div>
    </md-content>
</div>
