<div class="container" layout="row" flex>
    <div layout="row" psa-sidenav></div>
    <md-content class="md-padding" layout-xs="column" layout-gt-xs="column" flex>
        <md-content md-padding ng-cloak>
            <div layout="column" flex md-whiteframe="4dp" md-padding class="order-acknowledge-card" data-ng-repeat="o in orders">
                <div layout="row" layout-xs="column" flex>
                    <div layout="column" flex="50" flex-xs="100">
                        <div layout="row" flex="100" layout-align="center center">
                            <span class="order-number" flex="50"><strong>Order No. 1</strong></span>
                            <md-button class="md-raised md-primary" style="margin-top:-0.3em;">invoice</md-button>
                        </div>
                        <span class="product-name">Batik Hand Print Viscose Shawl</span>
                        <div layout="row">
                            <div layout="column" flex="100">
                                <div layout="column" class="card-item">
                                    <span class="card-item-title" flex>Catalog No.</span>
                                    <span>CAT-10001</span>
                                </div>
                                <div layout="column" class="card-item">
                                    <span class="card-item-title" flex>Order Date</span>
                                    <span>27/04/1992</span>
                                </div>
                            </div>
                            <div layout="column" flex="100">
                                <div layout="column" class="card-item">
                                    <span class="card-item-title" flex>Lots</span>
                                    <span>2</span>
                                </div>
                                <div layout="column" class="card-item">
                                    <span class="card-item-title" flex>Amount</span>
                                    <span>Rs. 2000</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr flex/></span>
                    <div layout="row" flex="50" flex-xs="100">
                        <div layout="column" flex="50">
                            <div layout="column" class="card-item">
                                <span class="card-item-title" flex>Service Free(10%)</span>
                                <span>200</span>
                            </div>
                            <div layout="column" class="card-item">
                                <span class="card-item-title" flex>Service Tax(0%)</span>
                                <span flex>0</span>
                            </div>
                            <div layout="column" class="card-item">
                                <span class="card-item-title" flex>Payment</span>
                                <span flex>Rs. 1800</span>
                            </div>
                        </div>
                        <hr flex/></span>
                        <div layout="column" flex="50">
                            <div layout="column" class="card-item">
                                <span class="card-item-title" flex>Payment Details</span>
                                <span>ref no.</span>
                            </div>
                            <div layout="column" class="card-item">
                                <span class="card-item-title" flex>Date of payment</span>
                                <span flex>10/10/1991</span>
                            </div>
                            <div layout="column" class="card-item">
                                <span class="card-item-title">Payment Mode</span>
                                <span>NEFT</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </md-content>
    </md-content>
</div>
