<div class="container" layout="row" flex ng-cloak>
    <div layout="row" psa-sidenav></div>
    <md-content class="md-padding" flex>
        <div layout="column" layout-fill ng-cloak>
            <div layout="row" data-ng-if="pageSettings.noProducts" layout-align="center center" flex>
                <h1 class="md-display-3">{{ pageSettings.noProductsMessage }}</h1>
            </div>
            <div data-ng-if="products && products.length" layout="column" flex md-whiteframe="4dp" class="product-card" md-padding data-ng-repeat="p in products">
                <div layout="row" layout-xs="column" flex>
                    <div layout="column" class="md-media-lg card-media" hide-xs flex="15" style="background-color:#fff">
                        <img class="card-image" data-ng-src="{{getImageUrl(p)}}" />
                    </div>
                    <div layout="column" flex="23" flex-xs="100">
                        <div layout="column" class="card-item">
                            <span class="card-item-title" flex>Catalog No.</span>
                            <span>{{ p.details.seller_catalog_number }}</span>
                        </div>
                        <div layout="column" class="card-item">
                            <span>{{ p.name }}</span>
                        </div>
                        <div layout="column" class="card-item">
                            <span class="card-item-title" flex>Category</span>
                            <span>{{ p.category.display_name }}</span>
                        </div>
                    </div>
                    <div layout="column" flex="25" flex-xs="100">
                        <div layout="column" class="card-item">
                            <span class="card-item-title" flex>Retail Price</span>
                            <span>Rs. {{ p.price_per_unit }}</span>
                        </div>
                        <div layout="column" class="card-item">
                            <span class="card-item-title" flex>Min Lot Quantity</span>
                            <span>{{ p.product_lot[0].lot_size_from }}</span>
                        </div>
                        <div layout="column" class="card-item">
                            <span class="card-item-title" flex>Lot Size(peices per lot)</span>
                            <span>{{ p.lot_size }}</span>
                        </div>
                    </div>
                    <div layout="column" flex="25" flex-xs="100">
                        <div layout="column" style="padding-top:0.7em;padding-left:1.0em">
                            <span class="card-item-title" flex>Lot Pricing</span>
                            <span data-ng-repeat="pl in p.product_lot" style="margin-top:0.3em;s">{{ pl.lot_size_from }} or more {{ pl.price_per_unit }} per unit</span>
                        </div>
                    </div>
                </div>
                <div layout="row">
                    <md-button data-ng-href="/my-products/{{ p.slug + '-' + p.productID}}" class="md-raised md-primary">View</md-button>
                    <md-button class="md-raised" data-ng-if="p.show_online" data-ng-click="toggleProductStats(0, $index)">Hide</md-button>
                    <md-button class="md-raised" data-ng-if="!p.show_online" data-ng-click="toggleProductStats(1, $index)">Show</md-button>
                    <md-button class="md-warn" data-ng-click="toggleProductStats(-1, $index)">Delete</md-button>
                </div>
            </div>
        </div>
    </md-content>
</div>
